{
  "openapi": "3.1.0",
  "info": {
    "title": "토스증권 Open API",
    "version": "1.2.2"
  },
  "servers": [
    {
      "url": "https://openapi.tossinvest.com"
    }
  ],
  "path_count": 27,
  "paths": [
    "/api/v1/accounts",
    "/api/v1/buying-power",
    "/api/v1/candles",
    "/api/v1/commissions",
    "/api/v1/conditional-orders",
    "/api/v1/conditional-orders/{conditionalOrderId}",
    "/api/v1/conditional-orders/{conditionalOrderId}/modify",
    "/api/v1/exchange-rate",
    "/api/v1/holdings",
    "/api/v1/market-calendar/KR",
    "/api/v1/market-calendar/US",
    "/api/v1/market-indicators/prices",
    "/api/v1/market-indicators/{symbol}/candles",
    "/api/v1/market-indicators/{symbol}/investor-trading",
    "/api/v1/orderbook",
    "/api/v1/orders",
    "/api/v1/orders/{orderId}",
    "/api/v1/orders/{orderId}/cancel",
    "/api/v1/orders/{orderId}/modify",
    "/api/v1/price-limits",
    "/api/v1/prices",
    "/api/v1/rankings",
    "/api/v1/sellable-quantity",
    "/api/v1/stocks",
    "/api/v1/stocks/{symbol}/warnings",
    "/api/v1/trades",
    "/oauth2/token"
  ],
  "has_websocket": false,
  "securitySchemes": {
    "oauth2ClientCredentials": {
      "type": "oauth2",
      "description": "OAuth 2.0 Client Credentials Grant. `POST /oauth2/token` 으로 발급받은 access token 을\n모든 요청의 `Authorization: Bearer {access_token}` 헤더로 전달합니다.\n",
      "flows": {
        "clientCredentials": {
          "tokenUrl": "/oauth2/token",
          "scopes": {}
        }
      }
    }
  }
}
